@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  background-image: linear-gradient(to bottom right, #b993d6, #8ca6db);
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.header {
  font-family: "Red Hat Display", sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 300;
}
.number {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 396px;
}
.row {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.increment,
.decrement {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 55px;
  font-family: "Red Hat Display", sans-serif;
  background-color: #4b6cb7;
  border: none;
  color: #182848;
}
.increment:hover,
.decrement:hover {
  color: rgb(15, 24, 49);
  background-color: #386add;
  transition: all 0.5s ease-out;
}
.zero,
.save,
.start,
.stop,
.resume {
  border-radius: 5px;
  width: 120px;
  height: 80px;
  font-family: "Red Hat Display", sans-serif;
  border: #4b6cb7 solid 2px;
  background-color: transparent;
  font-size: 22px;
}
.row2 {
  width: 700px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.zero:hover,
.save:hover,
.start:hover,
.stop:hover,
.resume:hover {
  color: rgb(15, 24, 49);
  background-color: #386add;
  transition: all 0.5s ease-out;
}
