@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
html {
  height: 100%;
  background-image: linear-gradient(to bottom right, #b993d6, #8ca6db);
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  color: #182848;
}

.header {
  font-family: "Red Hat Display", sans-serif;
  font-size: 33px;
  letter-spacing: 2px;
  font-weight: 300;
}
.number {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
  font-size: 352px;
}
.row {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.increment,
.decrement {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 55px;
  font-family: "Red Hat Display", sans-serif;
  background-color: #4b6cb7;
  border: none;
  color: #182848;
}
.increment:hover,
.decrement:hover {
  color: rgb(15, 24, 49);
  background-color: #386add;
  transition: all 0.5s ease-out;
}
.zero,
.save,
.start,
.stop,
.resume,
.deleteAll,
.deleteButton {
  border-radius: 5px;
  width: 120px;
  height: 80px;
  font-family: "Red Hat Display", sans-serif;
  border: #4b6cb7 solid 2px;
  background-color: transparent;
  font-size: 22px;
}
.row2 {
  width: 700px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.zero:hover,
.save:hover,
.start:hover,
.stop:hover,
.resume:hover,
.deleteAll:hover,
.readMore:hover,
.deleteButton :hover {
  color: rgb(15, 24, 49);
  background-color: #386add;
  transition: all 0.5s ease-out;
}

.records {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.numsStyle {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 35vw;
  flex-wrap: wrap;
  overflow: hidden;
  align-content: flex-start;
}
.readMore {
  font-size: 18px;
  color: #386add;
  cursor: pointer;
  border-radius: 5px;
  width: 108px;
  height: 37px;
  border: #4b6cb7 solid 2px;
  background-color: transparent;
  position: absolute;
  bottom: 3%;
  right: 15%;
  text-align: center;
  padding-top: 3px;
}
.allRecords {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b973b9;
  text-transform: uppercase;
  font-size: 40px;
}
.modalClose {
  position: absolute;
  right: 2%;
  top: 2%;
  cursor: pointer;
  font-size: 20px;
}
.numStyle {
  font-size: 18px;
  color: #182848;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 47vw;
  flex-wrap: wrap;
}
.deleteButton {
  position: absolute;
  right: 5%;
  bottom: 5%;
  border-radius: 5px;
  width: 120px;
  height: 80px;
  font-family: "Red Hat Display", sans-serif;
  border: #4b6cb7 solid 2px;
  background-color: transparent;
  font-size: 22px;
}

@media only screen and (max-width: 1775px) {
  .numsStyle {
    width: 40vw;
  }
}
@media only screen and (max-width: 1548px) {
  .numsStyle {
    width: 45vw;
  }
}
@media only screen and (max-width: 1390px) {
  .numsStyle {
    width: 50vw;
  }
}
@media only screen and (max-width: 1249px) {
  .numsStyle {
    width: 55vw;
  }
}

@media only screen and (max-width: 1123px) {
  .numsStyle {
    width: 60vw;
  }
}
@media only screen and (max-width: 1038px) {
  .numsStyle {
    width: 65vw;
  }
}
@media only screen and (max-width: 958px) {
  .numsStyle {
    width: 70vw;
  }
}
@media only screen and (max-width: 958px) {
  .numsStyle {
    width: 70vw;
  }
}
@media only screen and (max-width: 880px) {
  .numsStyle {
    width: 75vw;
  }
}
@media only screen and (max-width: 842px) {
  .numsStyle {
    width: 80vw;
  }
}
@media only screen and (max-width: 772px) {
  .numsStyle {
    width: 85vw;
  }
}
@media only screen and (max-width: 722px) {
  .numsStyle {
    width: 90vw;
  }
}
